@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* Empêche le scroll sur toute la page */
  overflow: hidden; 
}

#root {
  height: 100%;
}